.gradient-custom {
    background: #6a11cb;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
/* From Uiverse.io by cssbuttons-io */ 
button {
    align-items: center;
    background-image: linear-gradient(144deg, #ad0d0d, #ffee00 50%, #ad0d0d);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s;
    justify-content: center;
  }
  
  button:active,
  button:hover {
    outline: 0;
  }
  
  button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;

  }
  
  button:hover span {
    background: none;
  }
  
  button:active {
    transform: scale(0.9);
  }
  .buttonAnonimo {
    --green: red;
    font-size: 15px;
    padding: 0.7em 2.7em; /* Ajusta el padding para el tamaño general */
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    
    /* Tamaño del botón */
    width: 200px; /* Ancho fijo; ajusta según lo necesites */
    height: 50px; /* Altura fija; ajusta según lo necesites */
    
    /* Para centrar el texto en el botón */
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* Margen y centrado */
    margin: 0 auto; /* Centrar el botón */
    margin-bottom: 20px; /* Margen inferior; ajusta según lo necesites */
  
    /* Efecto hover */
    transition: all 0.3s;
  }
  
  .buttonAnonimo:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
  }
  
  .buttonAnonimo:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
  }
  
  .buttonAnonimo:hover:before {
    transform: translateX(15em);
  }