<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <button (click)="redirectToLogin()" class="btn btn-primary">VOLVER A LOGIN</button>
            <div class="mb-md-5 mt-md-4 pb-5">
              <img type="image/jpeg" src="../../../assets/img/fotoCv.jpeg" lass="img-fluid rounded-circle mb-4" alt="Rostro" class="img-fluid rounded-circle mb-4">
              <h2 class="fw-bold mb-2 text-uppercase">¿Quién soy?</h2>
              <p class="lead">Julian Manuel Rodriguez.</p>
              <ul class="list-unstyled text-white-50 mb-5">
                <li>DNI: 41854876</li>
                <li>Legajo 112869</li>
              </ul>
              <h2 class="fw-bold mb-2 text-uppercase">Mi juego</h2>
              <p class="lead">La idea es que el usuario reciba un tiempo en segundos y decimas.
                En ese tiempo debera apretar el boton "PARAR" para ganar el juego.
                Se mostrara un cronometro de ayuda, el mismo sera visible cada 5 segundos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
